/* ChessBoard.css */
.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  border: 2px solid black;
  width: 400px;
  margin: auto;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #000;
}

.square:nth-child(even) {
  background-color: #d9a96b;
}

.square:nth-child(odd) {
  background-color: #f5d9b4;
}

.selected {
  background-color: #ffff00;
}

.info {
  margin-top: 20px;
  text-align: center;
}
.chess-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.info-panel{margin-left:20px}